* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img,
video {
  display: block;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #C4D2F5;
  color: #000000;
  margin: 100px;
}

.player {
  box-shadow: 0px 0px 0px 20px #FFFEFE26;
  border-radius: 20px;
  background-color: #FFFFFF;
  padding: 30px;
  max-width: 440px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.player-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.player-track-title {
  font-size: 18px;
  font-weight: bold;
}

.player-track-artist {
  font-size: 15px;
  color: #909090;
}

.player-progress {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  color: #909090;
  font-size: 15px;
  font-weight: bold;
  width: 100%;
}

.player-progress-bar {
  height: 6px;
  background-color: #F6F6EF;
  border-radius: 3px;
  overflow: hidden;
  width: 100%;
}

.player-progress-inner {
  height: 100%;
  background-color: #E783BC;
  transition: width 0.2s ease;
}

.player-button {
  background: none;
  border: none;
  background-color: #E783BC;
  border-radius: 50%;
  width: 74px;
  height: 74px;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
}
audio {
  display: none;
}
